<a class="container" id="choose">
    <p class="text-choose">Vui lòng chọn chế độ chơi!</p>
    <a href="/play/playWithFriend"><button type="button" class="btn btn-primary" id="play-with-friend">Play With Friend</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">Play with Computer</button></a>
</div>